@import url("./main.css");

i.bi-star-fill {
  color: var(--clr-gold);
}

/* /////////////////////////
    CINEMA BANNER
///////////////////////// */

.cinema-banner {
  display: flex;
  gap: 1.6rem;
  background-color: var(--clr-grey-bg-light);
  border-radius: 0.8rem;
  padding: 1.6rem;
  max-width: 88rem;
  border: 2px solid var(--clr-black-light);
}

.cinema-banner .banner-contents {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.cinema-banner .banner-contents > * {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  width: 100%;
}

.cinema-banner .poster,
.movie-info .poster {
  max-width: 12rem;
  border-radius: 0.8rem;
  overflow: hidden;
}

.cinema-banner div:has(> .badge.transparent) {
  flex-wrap: wrap;
  flex-direction: auto;
}

.cinema-banner .btn-box,
.cinema-banner .btn-box div {
  display: flex;
  justify-content: space-between;
  gap: 2.4rem;
}

.cinema-banner .btn-box {
  width: 100%;
}

.banner-swiper .swiper-slide {
  width: fit-content !important;
}

@media (min-width: 1024px) {
  .cinema-banner {
    gap: 2.4rem;
    padding: 2.4rem;
  }

  .cinema-banner .poster,
  .movie-info .poster {
    max-width: 22rem;
  }

  .cinema-banner .banner-contents {
    flex-direction: row;
  }

  .cinema-banner .banner-contents > * {
    gap: 1.6rem;
  }

  .cinema-banner .banner-contents > *:last-of-type {
    width: 100%;
    align-items: flex-end;
    justify-content: space-between;
    margin-left: -100%;
  }

  .rating {
    font-size: var(--fs-600);
  }
}

/* /////////////////////////
  PREFERENCES PAGE
///////////////////////// */

.movie-info,
.movie-form {
  padding: 1.6rem;
  padding-top: 0.8rem;
}

.movie-info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.movie-info h1 {
  width: fit-content;
}

.movie-form > * {
  width: 100%;
  max-width: 42rem;
  margin-top: 2.4rem;
}

.movie-form .total-price {
  display: flex;
  justify-content: space-between;
}

#seats_count {
  text-align: center;
  font-size: var(--fs-600);
}

fieldset:has(#seats_count) .icon-frame {
  height: 6.4rem;
}

fieldset :is(.show-dates, .show-times) {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  gap: 0.8rem;
}

fieldset :is(.show-dates, .show-times) label {
  margin-top: 1.6rem;
  padding: 1.6rem;
  background-color: var(--clr-grey-bg-light);
  font-size: var(--fs-600);
  align-items: start;
  position: relative;
  overflow: visible !important;
  border: 2px solid transparent;
  border-radius: 0.8rem;
}

fieldset :is(.show-dates) label:has(input:checked) {
  border-color: var(--clr-primary);
}

fieldset :is(.show-times) label:has(input:checked) {
  border-color: var(--clr-accent);
}

fieldset :is(.show-dates, .show-times) label > span {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

fieldset :is(.show-dates, .show-times) label :is(.year, .part-of-day) {
  font-size: var(--fs-400);
  color: var(--clr-grey-text);
}

fieldset :is(.show-dates, .show-times) input {
  position: absolute;
  top: -1rem;
  left: -1rem;
  background-color: var(--clr-grey-bg-light) !important;
}

@media (min-width: 1024px) {
  .main-content:has(.movie-info) {
    display: flex;
  }
}
