/* /////////////////////////
IMPORTS and SETUPS
///////////////////////// */

/* Stylsheets */
@import "./reset.css";
@import "./form.css";
@import "./animations.css";

/* /////////////////////////
UTILITY CLASSES
///////////////////////// */

@media (min-width: 1025px) {
  .mobile-only {
    display: none;
    opacity: 0;
    position: absolute;
    visibility: hidden;
  }
}

@media (max-width: 1025px) {
  .desk-only {
    display: none;
    opacity: 0;
    position: absolute;
    visibility: hidden;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  opacity: 0;
}

.empty-box,
*[aria-hidden="true"] {
  display: none;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  z-index: -1;
  width: 0;
  height: 0;
}

.fit {
  width: fit-content;
}

.center,
.center-mobile {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 1025px) {
  .center-mobile {
    text-align: left;
    margin: 0;
    width: 100%;
  }

  .center-desk {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
  }
}

.nowrap {
  text-wrap: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  align-items: center;
}

.divider {
  border-top: 1px solid var(--clr-grey-divider);
  width: 100%;
  flex: 1;
  max-height: 0.1rem;
}

.divider.dotted {
  border: none;
  height: 0.4rem;
  background: url("./static/assets/dot-grey.svg");
  background-repeat: repeat-x;
  background-size: contain;
  background-position: center;
}

.empty-sec {
  background-color: var(--clr-grey-hover) !important;
  color: var(--clr-grey-text) !important;
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important;
  padding: 1.6rem;
  border-radius: 1.6rem;
}

.empty-sec .empty-box {
  position: inherit;
  width: fit-content;
  height: fit-content;
  display: block;
  opacity: 1;
  visibility: visible;
  z-index: initial;
}

.badge {
  background-color: var(--clr-primary);
  font-weight: 600;
  font-size: var(--fs-300);
  color: var(--clr-white);
  border-radius: 10rem;
  padding: 0.2rem 0.8rem;
  width: fit-content;
  height: fit-content;
  max-width: 24rem;
  overflow: hidden;
  text-wrap: nowrap;
}

.badge.transparent {
  background-color: var(--clr-grey-hover);
  color: var(--clr-grey-text);
}

.badge.hidden {
  opacity: 0;
  visibility: hidden;
  max-width: 0;
  padding: 0;
  background-color: var(--clr-white);
}

.tooltip {
  position: fixed;
  background-color: var(--clr-grey-tooltip);
  font-size: var(--fs-300);
  color: var(--clr-white);
  padding: 0.4rem 0.8rem;
  border-radius: 0.4rem;
  transition: none;
  z-index: 999;
}

/* /////////////////////////
DECORATIONS, ILLUSTRATIONS and ANIMATIONS
///////////////////////// */

.illus {
  user-select: none;
}

picture {
  display: flex;
  height: fit-content;
  position: relative;
}

picture :is(img, svg) {
  width: 100%;
  max-width: 100%;
}

/* /////////////////////////
COMPONENTS
///////////////////////// */

/* All FLEXBOXES */
.check-radio-box label,
fieldset .trail,
fieldset .msg,
.note,
button,
.logo,
.snackbar,
.snackbar .msg,
menu .menu-item,
main header {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.logo {
  justify-content: left;
}

.logo p {
  order: 2;
  font-family: var(--ff-head);
  font-size: var(--fs-600);
  font-weight: 700;
}

.logo p,
.gradient-primary,
.gradient-accent {
  background-image: var(--gradient-primary);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent !important;
}

.logo[data-white="true"] p {
  color: var(--clr-white);
  background-image: var(--clr-white);
}

.logo[data-black="true"] p {
  color: var(--clr-black);
  background-image: var(--clr-black);
}

.gradient-accent {
  background-image: var(--gradient-accent);
}

.date-month::after {
  content: ",";
  font: inherit;
}

/* STEPS ICON VISIBILITY */

.step-sec .step {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.step.completed .pending,
.step .completed {
  display: none;
}

.step .pending,
.step.completed .completed {
  display: inline;
}

.step .pending,
.step .completed,
.step.completed {
  color: var(--clr-primary-dark);
}

.password-conditions .pending {
  color: currentColor;
}

.password-conditions {
  width: 100%;
  text-align: left;
  background-color: var(--clr-white) !important;
  border: 1px solid var(--clr-grey-divider);
  padding: 0.8rem;
  border-radius: 0.8rem;
}

/* /////////////////////////
LOADERS
///////////////////////// */

.loader.spinner {
  display: flex;
  aspect-ratio: 1;
  animation: spinner 1s infinite linear;
}

.loader.spinner.white path {
  fill: var(--clr-white);
}
.loader.spinner.black path {
  fill: var(--clr-black);
}
.loader.spinner.primary path {
  fill: var(--clr-primary);
}
.loader.spinner.accent path {
  fill: var(--clr-accent);
}

/* /////////////////////////
 TABs
///////////////////////// */

.slider,
.tab-sec {
  position: relative;
  display: flex;
  gap: 0.4rem;
  padding: 0 1.6rem;
  width: 100%;
  overflow: auto hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
  user-select: none;
  cursor: grab;
  scroll-behavior: smooth;
}

.slider {
  padding-bottom: 0.8rem;
}

.tab-sec {
  border-bottom: 1px solid var(--clr-primary-dark);
}

.slider::-webkit-scrollbar,
.tab-sec::-webkit-scrollbar {
  display: none;
}

.tab-sec .tab {
  text-wrap: nowrap;
  padding: 0.8rem 0.8rem;
  cursor: pointer;
}

.tab-sec .tab.active {
  color: var(--clr-accent);
}

.tab-sec .indicator {
  position: absolute;
  width: var(--width);
  height: 0.2rem;
  bottom: 0;
  left: var(--left);
  border-radius: 10rem 10rem 0 0;
  background-color: var(--clr-primary-dark);
  animation: fadeIn 0.8s linear;
}

/* /////////////////////////
  ACCORDION
///////////////////////// */

.accordion {
  border-left: 2px solid var(--clr-primary-focus);
  overflow: hidden;
  margin-bottom: 0.8rem;
}

.accordion .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.6rem;
  border-radius: 0.8rem;
  padding: 0.4rem 0.8rem;
  font-weight: 500;
  cursor: pointer;
}

.accordion .title:hover {
  background-color: var(--clr-grey-bg);
}

.accordion .content {
  padding: 0.4rem 0.8rem;
  padding-bottom: 0;
  max-height: 0;
}

.accordion.visible {
  border-color: var(--clr-accent);
}

.accordion.visible .title {
  color: var(--clr-accent);
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.accordion.visible .title .icon {
  transform: rotate(-90deg);
}

.accordion.visible .content {
  max-height: 40rem;
  padding-bottom: 0.8rem;
}

/* /////////////////////////
USER INFO
///////////////////////// */

.user-info-full-name {
  text-wrap: nowrap;
}

.user-info-avatar {
  max-width: 16rem;
  overflow: hidden;
}

.user-info-avatar img {
  aspect-ratio: 1;
  border-radius: 100%;
}

/* /////////////////////////
PARENT CONTAINERS
///////////////////////// */
body {
  display: flex;
}

main {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

main .main-content {
  height: 100vh;
  padding-top: 1.6rem;
  padding-bottom: 12rem;
  overflow: hidden auto;
}

::-webkit-scrollbar {
  width: 0.4rem;
  height: 0.4rem;
}

::-webkit-scrollbar-track {
  background-color: var(--clr-black);
}

::-webkit-scrollbar-thumb {
  background-color: var(--clr-primary-light);
  border-radius: 0.4rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--clr-primary);
}

/* /////////////////////////
NAVIGATION SIDEBAR / NAVBAR
and
ASIDE, ASIDE OPTIONS
///////////////////////// */

nav,
aside {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background-color: var(--clr-grey-overlay);
  top: 0;
  left: 0;
}

.nav-body,
.aside-body {
  position: fixed;
  background-color: var(--clr-white);
  display: flex;
  flex-direction: column;
  overflow: hidden auto;
}

.nav-body {
  width: 100%;
  max-width: 28rem;
  height: 100vh;
  left: -10%;
}

.aside-body {
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 2.4rem);
  height: calc(100% - 4.6rem);
  overflow: hidden auto;
  background-color: var(--clr-white);
  border-radius: 1.6rem 1.6rem 0 0;
}

nav.visible .nav-body {
  left: 0;
}

.nav-close-btn,
.aside-close-btn {
  margin-left: auto;
}

button.icon.nav-open-btn {
  position: fixed;
  z-index: 11;
  background-color: var(--clr-primary);
  color: var(--clr-white);
  top: 0.6rem;
  left: 0;
  border-radius: 0 100rem 100rem 0 !important;
  width: 5.2rem !important;
  min-width: 5.2rem !important;
  padding-left: 1.2rem;
}

button.icon.nav-open-btn:active {
  transform: translateX(-0.4rem);
  scale: 1;
}

nav,
.nav-open-btn.visible,
nav .nav-close-btn,
aside,
.aside-open-btn.visible,
aside .aside-close-btn {
  visibility: hidden;
  opacity: 0;
}
nav.visible,
.nav-open-btn,
nav.visible .nav-close-btn,
aside.visible,
.aside-open-btn,
aside.visible .aside-close-btn {
  visibility: visible;
  opacity: 1;
}

.nav-body :is(header, footer),
.aside-body :is(header, footer) {
  padding: 0.4rem 1.6rem;
}

.nav-body .nav-content,
.aside-body .aside-content {
  padding: 1.6rem 0.4rem;
  flex: 1;
  min-height: 12rem;
  overflow: hidden auto;
}

.nav-body .nav-content {
  border-bottom: 1px solid var(--clr-grey-divider);
}

.aside-body .aside-content {
  padding: 1.6rem;
}

menu {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.nav-content menu {
  margin-bottom: 1.6rem;
}

menu .menu-item {
  border-radius: 0.5rem;
  padding: 0.8rem;
  padding-right: 1.6rem;
  justify-content: start;
  gap: 1.2rem;
  cursor: pointer;
  overflow: hidden;
}

menu .menu-item.active {
  background-color: var(--clr-primary-hover);
  color: var(--clr-primary-dark);
}

menu .menu-item.active:hover {
  background-color: var(--clr-primary-focus);
  color: var(--clr-primary-dark);
}

menu.submenu .menu-item.active {
  background-color: var(--clr-accent-hover);
  color: var(--clr-accent-dark);
}

menu.submenu .menu-item.active:hover {
  background-color: var(--clr-accent-focus);
  color: var(--clr-accent-dark);
}

.menu-item * {
  text-overflow: ellipsis;
  text-wrap: nowrap;
  overflow: hidden;
}

.menu-item .badge {
  margin-left: auto;
}

.menu-item svg.chevron {
  color: var(--clr-accent);
}

.menu-item:hover {
  background-color: var(--clr-grey-hover);
}

.menu-item.user-info {
  padding: 0.4rem;
  gap: 0.8rem;
  text-transform: none;
}

.menu-item.user-info picture {
  --size: 4rem;
  width: var(--size);
  min-width: var(--size);
  aspect-ratio: 1;
}

menu .submenu {
  border-left: 1px solid var(--clr-accent-focus);
  margin: 0;
  margin-left: 2rem;
  padding-left: 0.8rem;
  max-height: 0px;
  overflow: hidden;
}

menu .submenu .menu-item {
  padding-left: 1.6rem;
}

menu .menu-item.visible svg.chevron {
  transform: rotate(-180deg);
}

menu .menu-item.visible + .submenu {
  max-height: 30rem;
}

.nav-body footer {
  padding: 1.6rem;
  padding-top: 0.4rem;
}

.nav-body footer menu {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.8rem;
}

.nav-body footer .menu-item {
  gap: 0.4rem;
}

nav footer .fs-200 {
  text-wrap: nowrap;
}

@media (min-width: 1025px) {
  nav,
  .nav-body,
  aside,
  .aside-body {
    position: static;
    opacity: 1;
    visibility: visible;
  }
  aside,
  .aside-body {
    width: 100%;
    transform: translateX(0);
    border-radius: 0;
    width: fit-content;
    background-color: var(--clr-white);
  }

  .aside-body {
    height: 100%;
  }

  nav {
    max-width: 6.4rem;
    overflow: hidden;
    height: 100vh;
  }

  .nav-body {
    max-width: 6.4rem;
    border-right: 1px solid var(--clr-grey-divider);
    height: 100vh;
  }

  nav.visible,
  nav.visible .nav-body,
  aside {
    max-width: 28rem;
  }

  .nav-body :is(header, .nav-content, footer) {
    padding: 0.4rem;
  }
  button.icon.nav-open-btn {
    top: 0.4rem;
  }
  .nav-close-btn {
    margin-left: 0.8rem;
  }

  nav:not(.visible) menu .menu-item {
    max-width: 4rem;
  }

  nav:not(.visible) .nav-content .menu-item:not(.user-info) {
    transform: translateX(0.7rem);
  }

  nav:not(.visible) menu .menu-item.user-info {
    transform: translateX(0.3rem);
    max-width: 4.8rem;
  }

  nav.visible menu .menu-item,
  nav.visible menu .menu-item.user-info {
    max-width: 100rem;
  }

  nav:not(.visible) .menu-item.visible + .submenu {
    max-height: 0;
  }

  nav:not(.visible) footer menu {
    flex-direction: column;
    align-items: center;
  }

  nav:not(.visible) footer .menu-item {
    gap: 0.8rem;
  }

  nav:not(.visible) footer .fs-200 {
    display: none;
  }
}

/* /////////////////////////
  PAGE HEADERS
///////////////////////// */

main header {
  padding: 0.8rem 1.6rem;
  padding-bottom: 0.4rem;
  min-height: 4.05rem;
  justify-content: space-between;
  flex-wrap: wrap;
}

main header :is(h1, h2) {
  flex: 1;
  text-wrap: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

main header.collapsable {
  overflow: hidden;
  max-height: 4.6rem;
}

main header.collapsable.collapse {
  padding-top: 0;
  padding-bottom: 0;
  min-height: 0;
  max-height: 0;
}

@media (min-width: 1025px) {
  main header {
    padding-left: 1.6rem;
    justify-content: start;
    gap: 1.6rem;
  }
}

@media (max-width: 320px) {
  main .main-content {
    padding-left: 0;
    padding-right: 0;
  }
}

/* /////////////////////////
  ALL POPUP COMPONENTS BELOW
///////////////////////// */

/* /////////////////////////
SNACKBAR COMPONENT
///////////////////////// */

.snackbar-sec {
  position: fixed;
  bottom: 1.6rem;
  right: 1.6rem;
  width: 100%;
  max-width: 43.2rem;
  z-index: 101;
  overflow: hidden;
}

.snackbar {
  --clr-snackbar-theme: var(--clr-status-info-dark-text);
  border: 2px solid var(--clr-snackbar-theme) !important;
  background-color: var(--clr-status-info-dark-bg);
  min-height: 6.4rem;
  border-radius: 0.8rem;
  gap: 0.8rem;
  margin: 0.4rem 0;
  justify-content: space-between;
  align-items: center;
  padding: 0.4rem 1.2rem;
  animation: fadeScaleUpIn 0.5s linear;
  overflow: hidden;
  user-select: none;
}

.snackbar.exit {
  animation: fadeScaleOut 0.5s linear;
}

.snackbar.error {
  --clr-snackbar-theme: var(--clr-status-negative-dark-text);
}

.snackbar.success {
  --clr-snackbar-theme: var(--clr-status-success-dark-text);
}

.snackbar.info {
  --clr-snackbar-theme: var(--clr-status-info-dark-text);
}

.snackbar.warn {
  --clr-snackbar-theme: var(--clr-status-warn-dark-text);
}

.snackbar button {
  background-color: transparent !important;
  color: var(--clr-white) !important;
}

.snackbar button.text {
  min-width: fit-content;
}

.snackbar button:hover,
.snackbar button.text:hover {
  background-color: var(--clr-primary-light) !important;
}

.snackbar .msg {
  font-weight: 400;
  color: var(--clr-snackbar-theme) !important;
  display: flex;
  gap: 0.8rem;
}

/* /////////////////////////
DIALOG COMPONENT
///////////////////////// */

.dialog-sec {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: var(--clr-grey-overlay);
  display: flex;
  align-items: center;
  justify-content: center;
}

.dialog-sec.fullscreen {
  background-color: var(--clr-grey-bg);
  overflow: hidden auto;
  height: 100vh;
  align-items: start;
}

.dialog {
  margin: 2.4rem;
  width: calc(100% - 4.2rem);
  max-width: 51.2rem;
  max-height: calc(100% - 4.2rem);
  min-height: 16rem;
  background-color: var(--clr-white);
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  padding: 2.4rem;
}

.dialog-sec.fullscreen .dialog {
  margin: 0;
  width: 100%;
  max-height: fit-content;
  min-height: 100vh;
  border-radius: 0;
  padding: 2.4rem;
  overflow: visible;
  display: block;
}

.dialog .dialog-body {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  margin: 0.4rem 0;
  overflow: hidden auto;
  height: 100%;
  padding: 1.6rem;
  background-color: var(--clr-grey-bg);
  border-radius: 1.6rem;
}

.dialog-sec.fullscreen .dialog-body {
  overflow-y: visible;
}

.dialog-sec:has(.dialog-component) .dialog-body {
  background-color: var(--clr-white);
}

.dialog-sec:has(.dialog-component) .btn-box {
  border-top: 1px solid var(--clr-grey-divider);
}

.dialog .dialog-illus {
  width: 6.4rem;
}

.dialog .msg {
  color: var(--clr-grey-text);
}

.dialog .btn-box {
  display: flex;
  gap: 0.8rem;
  padding-top: 1.6rem;
}

.dialog .btn-box > * {
  width: 100%;
}

.dialog .btn-box button.negative {
  order: -1;
}

.dialog-sec .dialog-component {
  background-color: var(--clr-white);
  border-radius: 1.6rem;
  padding: 0.4rem 0.8rem;
}

.dialog-sec .dialog-component form {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

/* /////////////////////////
  DROP DOWN MENU
///////////////////////// */

.drop-down-menu {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: transparent;
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
  z-index: -1;
}

.drop-down-menu.visible {
  visibility: visible;
  pointer-events: auto;
  opacity: 1;
  z-index: 999;
}

.drop-down-menu-body,
.drop-down-menu-body :is(ul, ol) {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.drop-down-menu-body {
  overflow: hidden auto;
  padding: 0.8rem;
  border-radius: 0.8rem;
  box-shadow: 0px 4px 12px #00000040;
  background-color: var(--clr-white);
  position: fixed;
  transition: all 0s;
  border: 1px solid var(--clr-grey-divider);
}

ul.drop-down-menu-body {
  max-height: 16rem;
}

.drop-down-menu-body li:not(.overline) {
  padding: 0.4rem 0.8rem;
  padding-left: 1.6rem;
  border-bottom: 1px solid var(--clr-grey-bg);
  cursor: pointer;
}

.drop-down-menu-body li:not(.overline):hover {
  background-color: var(--clr-primary-hover);
}
.drop-down-menu-body > li:last-of-type {
  border: none;
}

.drop-down-menu-body .overline {
  padding: 0.2rem;
  padding-top: 0.8rem;
  color: var(--clr-primary);
}

.drop-down-menu ul .not-found {
  font-size: var(--fs-300);
  color: var(--clr-grey-text);
}

.drop-down-menu-body:has(.btn-box) {
  padding: 0 !important;
  display: flex;
  flex-direction: column;
}

.drop-down-menu-body > :is(header, .overline, div, .btn-box) {
  padding: 0.8rem 1.6rem;
}

.drop-down-menu-body > .drop-down-menu-content {
  height: 100%;
  overflow: hidden auto;
}

.drop-down-menu-body .btn-box {
  border-top: 1px solid var(--clr-grey-divider);
  display: flex;
  justify-content: space-between;
}

.drop-down-menu-body .btn-box button.primary {
  margin-left: auto;
}

@media (max-width: 768px) {
  .drop-down-menu:has(.drop-down-menu-body:not(ul)) {
    background-color: var(--clr-grey-overlay);
  }

  .drop-down-menu:has(.drop-down-menu-body:not(ul)) .drop-down-menu-body {
    top: auto !important;
    bottom: 0;
    left: 0 !important;
    width: 100% !important;
    max-height: 90vh !important;
    padding: 1.6rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .drop-down-menu-content {
    min-height: 16rem;
  }
}

/* /////////////////////////
  DATA TABLE COMPONENTS
///////////////////////// */

/* /////////////////////////
  FILTER COMPONENTS
///////////////////////// */

.filter-menu header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* /////////////////////////
  DATA TABLE
///////////////////////// */

.data-table-sec {
  max-width: 100%;
  border: 1px solid var(--clr-grey-divider);
  border-radius: 0.4rem;
  overflow: auto hidden;
}

table {
  border-collapse: collapse;
}

.data-table thead tr {
  background-color: var(--clr-primary-focus);
  border-bottom: 1px solid var(--clr-primary-focus);
  color: var(--clr-primary-dark);
  text-align: left;
}

.data-table thead tr th {
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
}

.data-table tbody tr:nth-of-type(even) {
  background-color: var(--clr-grey-bg-light);
}

/* Other Styles */

.data-table :is(th, td) {
  padding: 0.8rem 1.6rem;
  text-wrap: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 28ch;
}

.data-table td {
  border-bottom: 1px solid var(--clr-grey-hover);
}

.data-table
  tr:has(td:hover, input[type="checkbox"]:hover, input[type="checkbox"]:focus) {
  background-color: var(--clr-grey-bg);
}

.data-table tr:has(input[type="checkbox"]:checked) {
  background-color: var(--clr-primary-hover);
}

/* DATA TABLES'S INTERACTIVE ELEMENTS */
.data-table :is(input[type="checkbox"], input[type="radio"], button.icon) {
  position: relative;
}

.data-table
  :is(input[type="checkbox"], input[type="radio"], button.icon)::after {
  content: "";
  position: absolute;
  width: 3.6rem;
  height: 3.6rem;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  display: block;
}
